*,
*::before,
*::after {
  box-sizing: border-box;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.contact__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 10px 0;
}

.contact__info-text {
  background-color: #f0f0f0;
  padding: 10px;
  flex: 1;
}

.contact__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact__description {
  font-size: 16px;
  margin-bottom: 20px;
}

.contact__address p {
  margin-bottom: 10px;
}

.contact__info-image {
  display: flex;
  justify-content: center;
  flex: 1;
}

.contact__info-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.contact__map-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  max-width: 75rem;
}

.contact__map {
  flex: 1;
  width: 100%;
  margin: 1rem;
}

.contact__form {
  flex: 2;
  max-width: 50rem;
  width: 100%;
  padding: 20px;
}

.contact__form-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__label {
  font-size: 14px;
  margin-bottom: 5px;
}

.form__input,
.form__textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form__textarea {
  resize: vertical;
  height: 100px;
}

.form__submit {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form__submit:hover {
  background-color: #555;
}

/* Extra Small Devices (X-Small) - <576px */
@media (max-width: 575.98px) {
  .contact__map-form {
    flex-direction: column;
    gap: 20px; /* Reduced gap for smaller screens */
  }
}

/* Small Devices - ≥576px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .contact__map-form {
    flex-direction: column;
    gap: 20px;
  }
}

/* Medium Devices - ≥768px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .contact__map-form {
    flex-direction: column;
    gap: 30px;
  }
}

/* Large Devices - ≥992px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .contact__map {
    flex: 1;
    width: 100%;
    margin: 1rem;
  }
}

/* Extra Large Devices - ≥1200px */
@media (min-width: 1200px) {
  .contact__map {
    max-width: 60rem; /* Adjust for larger screens */
  }
}

/* Extra Extra Large Devices - ≥1400px */
@media (min-width: 1400px) {
  .contact__form {
    max-width: 60rem; /* Increase form size for larger screens */
  }
}
