@import url("css-reset.css");

:root {
  --primary-color: #ffffff;
  --secondary-color: #8e420b;
  --tertiary-color: #9a3413;
  --text-color: #f85b00;
}

.site-container {
  display: grid;
  grid-template-areas:
    "header"
    "main__content"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* Header section styling */
.header {
  grid-area: header;
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* Navigation styling within the header */
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

/* Styling for the logo in the header */
.header__logo {
  width: 100%;
  height: auto;
}

/* Navigation menu styling */
.header__nav-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Navigation links styling */
.header__nav-link {
  display: inline-block;
  color: var(--text-color);
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  position: relative;
  transition: 0.4s;
}

.header__nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #a98433;
  bottom: 0;
  left: 0;
  transition: width 0.4s;
}

/* Hover effect for navigation links */
.header__nav-link:hover::before {
  width: 100%;
}

.header__nav-link--active {
  color: #a98433; /* Example: Red color for active link */
  font-weight: bold; /* Example: Bold text for active link */
}

/* Hide menu button and icon by default */
.header__menu-btn,
.header__menu-icon {
  display: none;
}
.main__content {
  grid-area: main__content;
  display: grid;
  grid-template-areas:
    "carousel"
    "products__list__scroller"
    "product__list";
}

.carousel {
  grid-area: carousel;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.carousel__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel__slide {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Carousel navigation buttons styling */
.carousel__button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: background-color 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 10;
}

.carousel__button--prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.carousel__button--next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.carousel__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Carousel caption styling */
.carousel__caption {
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
}

/* Carousel dots styling */
.carousel__dot {
  cursor: pointer;
  height: 5px;
  width: 15px;
  margin: 0 5px;
  background-color: #717171;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.carousel__dot--active,
.carousel__dot:hover {
  background-color: white;
}

.carousel__indicators {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 10;
}

/* Carousel fade animation */
.carousel__fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

aside.products__list__scroller {
  grid-area: products__list__scroller;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.product__list {
  grid-area: product__list;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* Footer section styling */
.footer {
  grid-area: footer;
  position: relative;
  color: black;
  padding: 1rem;
  text-align: center;
  font-family: "Montserrat", Sans-serif;
  font-weight: 400;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/footer-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  z-index: 0;
}

.footer__content {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer__column {
  padding: 1rem;
  text-align: left;
  flex: 1;
}

.footer__branding {
  border-bottom: 1px dashed #a98433;
  padding-bottom: 20px;
  text-align: center;
}

.footer__branding__content {
  font-size: 0.9rem;
  padding: 0.7rem;
}

.footer__column h3 {
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 1.2rem;
}

address {
  font-size: 0.9rem;
  font-style: italic;
}

.contact-details {
  line-height: 2;
  font-size: 0.9rem;
}
.footer__column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__column ul li {
  margin-bottom: 0.5rem;
}

.footer__column ul li a {
  text-decoration: none;
  font-size: 0.9rem;
}

.footer__column ul li a:hover {
  text-decoration: underline;
}

.footer__decoration {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.footer__decoration::before,
.footer__decoration::after {
  content: "";
  flex-grow: 1;
  border-top: 1.5px solid #a98433;
}

.bi-stars {
  color: #a98433;
  font-size: 1.5rem;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

@media screen and (min-width: 2560px) {
  .carousel {
    height: 700px;
  }
}

@media (min-width: 1440px) and (max-width: 2559px) {
  .carousel {
    height: 700px;
  }
}

/* For devices with a viewport width of 768px and above (tablets and desktops) */
@media (max-width: 767px) {
  .header__nav {
    padding: 1rem 1.5rem;
  }

  .header__nav-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 1rem;
    top: 10rem;
    right: -100%;
    position: fixed;
    z-index: 999;
    border-top: 1px dashed white;
    transition: transform 0.5s ease-in;
  }

  .header__menu-btn:checked ~ .header__nav-menu {
    transform: translateX(-100%);
    width: 100%;
  }

  .header__menu-icon {
    display: block;
    cursor: pointer;
  }

  .header__nav-icon {
    display: block;
    background-color: black;
    position: relative;
    height: 2px;
    width: 20px;
  }

  .header__nav-icon::before,
  .header__nav-icon::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
  }

  .header__nav-icon::before {
    top: -5px;
  }

  .header__nav-icon::after {
    top: 5px;
  }

  .header__menu-btn:checked ~ .header__menu-icon .header__nav-icon {
    background: transparent;
  }

  .header__menu-btn:checked ~ .header__menu-icon .header__nav-icon::before {
    transform: rotate(-45deg);
  }

  .header__menu-btn:checked ~ .header__menu-icon .header__nav-icon::after {
    transform: rotate(45deg);
  }

  .header__menu-btn:checked ~ .header__menu-icon .header__nav-icon::before,
  .header__menu-btn:checked ~ .header__menu-icon .header__nav-icon::after {
    top: 0;
    background: black;
  }

  .carousel {
    height: 500px;
  }

  .footer__columns {
    flex-direction: column;
  }
}

/* For devices with a viewport width between 576px and 767px (mobile landscape) */
@media (min-width: 576px) and (max-width: 767px) {
  .carousel {
    height: 400px;
  }

  .footer__columns {
    flex-direction: column;
  }
}
